extends ../layout

mixin seat(seat)
    div(class="seat-content") 
        div(class="player")
            div(class="player-header")
                p(class="username") #{seat.player}
                p(class="chips")
                    strong #{seat.chips}
                p(class="bet")
                    if(seat.bet > 1)
                        strong #{seat.bet}
            div(class="player-hand")
            div(class="player-actions") 
                span(class="state" action="#")

mixin chat
    div(class="table-chat")

mixin history
    div(class="table-history")
        div(class="table-history--header")
            p Hand #12501736-1 - 2016-09-15 02:38:36
        div(class="table-history--content")
            p SOULJACKER87 has the dealer button
            p YAMASHALLA posts the small blind (50)
            p TAKO888888 posts the big blind (100)
            p SHHMOKE raises to 400
            p BIGVARAS folds

mixin actions
    div(class="table-actions")
        ul(class="list")
            li(class="item")
                form(action="bet/" id="bet-form")
                    input(type="submit" class="button bet" value="Bet")
                    input(type="number" value="0" id="amount" name="amount")
            li(class="item")
                span(class="button check") Check
            li(class="item")
                span(class="button fold") Fold

mixin table-footer
    div(class="table-footer")
        div(class="wrapper")
            div(class="grid collapsed")
                div(class="row")
                    div(class="column all-4")
                        +chat
                    div(class="column all-4")
                        +history
                    div(class="column all-4")
                        +actions

block content
    h3.
        #{table.name}
    table
        thead
            th Name
            th Type
            th Buyin
            th Small Blind
            th Big Blind
            th Pot
            th Status
        tbody
            td #{table.name}
            td #{table.type}
            td #{table.buyin}
            td #{table.sblind}
            td #{table.bblind}
            td #{table.pot}
            td #{table.status}

    ul(class="table-actions")
        li
            span(action="start" class="start") Start game
    
    div(class="table" ident="#{table._id}")
        div(class="wrapper")
            div(class="table-backdrop")
            div(class="table-seats")
                div(class="grid")
                    div(class="row")
                        each seat, i in seats
                            div(class="column all-fifth")
                                if (seat.player !== null)
                                    if(seat.dealer)
                                        div(class="seat seated dealer" index="#{seat.index}")
                                            div(class="vertical-center")
                                                +seat(seat)
                                    else
                                        div(class="seat seated" index="#{seat.index}")
                                            div(class="vertical-center")
                                                +seat(seat)
                                else
                                    div(class="seat" index="#{seat.index}")
                                        div(class="vertical-center")
                                            +seat(seat)
            div(class="table-center")
                div(class="table-pot")
                div(class="table-cards") 
    +table-footer