extends ../layout

mixin seat
    div(class="content") 
        div(class="player")
            div(class="player-hand")
                //- TODO: Insert player hand
            div(class="player-image")
                //- TODO: Insert player image
            div(class="player-actions")
                //- TODO: Bet, fold, check, etc.
        div(class="actions")
            a(href="/table/#{table._id}/leave/#{i}" class="post leave") Leave
            a(href="/table/#{table._id}/join/#{i}" class="post join") Join

block content
    h3.
        #{table.name}
    table
        thead
            th Name
            th Type
            th Buyin
            th Small Blind
            th Big Blind
            th Status
        tbody
            td #{table.name}
            td #{table.type}
            td #{table.buyin}
            td #{table.sblind}
            td #{table.bblind}
            td #{table.status}
    
    div(class="table")
        div(id="main")
            div(class="main-area")
                div(class="cards")
                    ul(class="card-list")
            ul(class="actions")
                li
                    a(href="/table/#{table._id}/start/" class="start") Start game
                li
                    a(href="/table/#{table._id}/flop/" class="flop") flop
                li
                    a(href="/table/#{table._id}/turn/" class="turn") turn
                li
                    a(href="/table/#{table._id}/river/" class="river") river
        ul(class="seats")
            each seat, i in seats
                if (seat.active)
                    li(class="seat seated")
                        div(class="header")
                            p Seat #{i}
                            p #{seat.player}
                        mixin seat
                else
                    li(class="seat")
                        div(class="header")
                            p Seat #{i}
                        mixin seat
                        