extends ../layout

mixin seat(seat)
    div(class="seat-content") 
        div(class="player")
            div(class="player-header")
                if(seat.player)
                    p #{seat.player}
                    if (table.status == "Started")
                        p(class="chips")
                            strong #{seat.chips}
            div(class="player-hand")
            div(class="player-actions") 
                a(href="#" class="state")

block content
    h3.
        #{table.name}
    table
        thead
            th Name
            th Type
            th Buyin
            th Small Blind
            th Big Blind
            th Status
        tbody
            td #{table.name}
            td #{table.type}
            td #{table.buyin}
            td #{table.sblind}
            td #{table.bblind}
            td #{table.status}

    ul(class="table-actions")
        li
            a(href="start/" class="start") Start game
        li
            a(href="flop/" class="flop") flop
        li
            a(href="turn/" class="turn") turn
        li
            a(href="river/" class="river") river    
        li
            a(href="winner/" class="winner") winner
    
    div(class="table")
        div(class="wrapper")
            div(class="table-backdrop")
            div(class="table-seats")
                div(class="grid")
                    div(class="row")
                        each seat, i in seats
                            div(class="column all-fifth")
                                if (seat.active)
                                    if(seat.dealer)
                                        div(class="seat seated dealer")
                                            div(class="vertical-center")
                                                +seat(seat)
                                    else
                                        div(class="seat seated")
                                            div(class="vertical-center")
                                                +seat(seat)
                                else
                                    div(class="seat")
                                        div(class="vertical-center")
                                            +seat(seat)
            div(class="table-cards")      