extends ../layout

mixin seat(seat)
    div(class="seat-content") 
        div(class="player")
            div(class="player-header")
                if(seat.player)
                    p #{seat.player}
                    if (table.status == "Started")
                        p(class="chips")
                            strong #{seat.chips}
            div(class="player-hand")
            div(class="player-actions") 
                a(href="#" class="state")

mixin chat
    div(class="table-chat")

mixin history
    div(class="table-history")

mixin actions
    div(class="table-actions")
        ul(class="list")
            li(class="item")
                form(action="bet/" id="bet-form")
                    input(type="submit" class="button bet" value="Bet")
                    input(type="number" value="0" id="amount" name="amount")
            li(class="item")
                a(href="check/" class="button check") Check
            li(class="item")
                a(href="fold/" class="button fold") Fold

mixin table-footer
    div(class="table-footer")
        div(class="wrapper")
            div(class="grid")
                div(class="row")
                    div(class="column all-4")
                        +chat
                    div(class="column all-4")
                        +history
                    div(class="column all-4")
                        +actions

block content
    h3.
        #{table.name}
    table
        thead
            th Name
            th Type
            th Buyin
            th Small Blind
            th Big Blind
            th Pot
            th Status
        tbody
            td #{table.name}
            td #{table.type}
            td #{table.buyin}
            td #{table.sblind}
            td #{table.bblind}
            td #{table.pot}
            td #{table.status}

    ul(class="table-actions")
        li
            a(href="start/" class="start") Start game
        li
            a(href="flop/" class="flop") flop
        li
            a(href="turn/" class="turn") turn
        li
            a(href="river/" class="river") river    
        li
            a(href="winner/" class="winner") winner
    
    div(class="table")
        div(class="wrapper")
            div(class="table-backdrop")
            div(class="table-seats")
                div(class="grid")
                    div(class="row")
                        each seat, i in seats
                            div(class="column all-fifth")
                                if (seat.player !== null)
                                    if(seat.dealer)
                                        div(class="seat seated dealer")
                                            div(class="vertical-center")
                                                +seat(seat)
                                    else
                                        div(class="seat seated")
                                            div(class="vertical-center")
                                                +seat(seat)
                                else
                                    div(class="seat")
                                        div(class="vertical-center")
                                            +seat(seat)
            div(class="table-cards")
    +table-footer